# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.svn/*
Backup/zTools.sln
Backup/zTools.v11.suo
FFMpegDecoder.zip
bin/*
Debug/*
*.pdb
*.ilk
*.ipch
*.opensdf
*.sdf
*.suo
*.user
*.log
*.obj
*.lastbuildstate
*.tlog
*.idb
*.ncb
*.htm
*.dep
trunk/zTools/Debug/zTools.exe.embed.manifest
trunk/zTools/Debug/zTools.exe.embed.manifest.res
trunk/zTools/Debug/zTools.exe.intermediate.manifest